
<!DOCTYPE html>

<html lang="en">

<head>

  <!-- <link rel="stylesheet" href="{% static 'webapp/css/bootstrap.min.css' %}"> -->
    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'webapp/css/style.css' %}"> -->
    <!-- Latest compiled and minified CSS -->
     
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="../../static/webapp/css/style.css">

     <link rel="stylesheet" href="../../static/webapp/css/app.min.css">
        <!-- iCheck -->
     <link rel="stylesheet" href="../../static/webapp/css/blue.css">



</head>

<body id="page-top" class="index">
   
    <!-- Navigation -->
     
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top" style="background-color: #222;padding-bottom: 0px;padding-top: 5px;margin-bottom: 10px;">

        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top" >Alumni Portal</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a  class="page-scroll" href="/">HOME</a>
                    </li>
                    <li>
                        <a  class="page-scroll" href="/events/">EVENTS</a>
                    </li>
                    <li>
                        <a  class="page-scroll" href="/contributions/">CONTRIBUTIONS</a>
                    </li>
                    <li>
                        <a  class="page-scroll" href="/blog/">BLOG</a>
                    </li>

                     
                     
                    <li>
                        <a class="page-scroll btn btn-xl" href="/login/" style="padding-top: 3px;padding-bottom: 3px;margin-top: 10px;">Login</a>
                    </li>
                    
                  
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
<div class="wrapper">

    

<div class="container">
	<br><br><br><br>
	<hgroup class="mb20">
		<h1>All Blogs</h1>
	</hgroup>
    <section class="col-xs-12 col-sm-6 col-md-12" style="padding-top: 10px;">
		
		<p>No Blogs yet !     Stay Tuned.</p>
	
	</section>
</div>


</div>
<div class="footer col-lg-12 col-md-12 col-sm-12 col-xs-12" style="position: relative;margin:auto;padding:0px 8px;background-color: black;margin-top:22%;">


  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="margin-top:3%;">
      <div>
        <a href="https://www.almaconnect.com">
          <img src="http://career.excelsior.edu/wp-content/uploads/sites/3/2016/03/Shield-No-background.png" style="max-height:88px;">
        </a>
      </div>
    </div>

    <div class="col-lg-offset-1 col-lg-2 col-md-offset-1 col-md-2 col-sm-offset-1 col-sm-2 col-xs-offset-1 col-xs-2">
      <div style="padding:6px 0px;" class="menu_item">
        <a href="/features" class="text_body_light">Features</a>
      </div>
      <div style="padding:6px 0px;" class="menu_item">
        <a class="text_body_light" href="/clients">Clients</a>
      </div>
      <div style="padding:6px 0px;" class="menu_item">
        <a class="text_body_light" href="https://www.almaconnect.com/privacy_policy_20120807.pdf" target="_blank">Privacy Policy</a>
      </div>
      <div style="padding:6px 0px;" class="menu_item">
        <a class="text_body_light" href="https://www.almaconnect.com/terms_of_use" target="_blank">Terms of use</a>
      </div>
    </div>

    <div class="ol-lg-offset-1 col-lg-2 col-md-offset-1 col-md-2 col-sm-offset-1 col-sm-2  col-xs-2">
      <div style="padding:6px 0px;" class="menu_item">
        <a class="text_body_light" href="/aboutus" target="_blank">Our story</a>
      </div>
      <div style="padding:6px 0px;" class="menu_item">
        <a class="text_body_light" href="https://www.almaconnect.com/contact_us" target="_blank">Contact Us</a>
      </div>
      <div style="padding:6px 0px;" class="menu_item">
        <a class="text_body_light" href="/aboutus#joinus" target="_blank">Join us</a>
      </div>
    </div>

    <div class="col-lg-offset-1 col-lg-3 col-md-offset-1 col-md-3 col-xs-offset-1 col-xs-3" style="padding:6px 0px;">

     <!--  <a href="#">
        <i class="fa fa-4x fa-linkedin custom-css" aria-hidden="true"></i>
      </a> -->


<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" style="margin-top:7%;" >
               <!-- <div class="col-md-4"> -->
                    <ul class="list-inline social-buttons">
                        <li><a href="#" class="so-btn"><i class="fa fa-twitter" style="padding:7px;"></i></a>
                        </li>
                        <li><a href="#" class="so-btn"><i class="fa fa-facebook" style="padding:7px;"></i></a>
                        </li>
                        <li><a href="#" class="so-btn"><i class="fa fa-linkedin" style="padding:7px;"></i></a>
                        </li>
                    </ul>
                <!-- </div> -->
                  </div>
    </div>


    <div class="hide_below_560" style="position:absolute;right:20px;bottom:0px;max-width:156px;width:100%;margin-top:32px;">
      <img src="https://d1dp92jzo8lsgh.cloudfront.net/assets/website/footer-decor-2-713a51371d4c81d3ede14692baebd55c0c4a38abfde92731b1595f51dd8b817b.png" style="max-width:140px;">
    </div>

  </div>

<script src="../../static/webapp/js/scroll.js"></script>
    
</body>

</html>
