
<!DOCTYPE html>

<html lang="en">

<head>

  <!-- <link rel="stylesheet" href="{% static 'webapp/css/bootstrap.min.css' %}"> -->
    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'webapp/css/style.css' %}"> -->
    <!-- Latest compiled and minified CSS -->
     
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="../../static/webapp/css/style.css">

     <link rel="stylesheet" href="../../static/webapp/css/app.min.css">
        <!-- iCheck -->
     <link rel="stylesheet" href="../../static/webapp/css/blue.css">



</head>

<body id="page-top" class="index">
   
    <!-- Navigation -->
     
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top" style="background-color: #222;padding-bottom: 0px;padding-top: 5px;margin-bottom: 10px;">

        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top" >Alumni Portal</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a  class="page-scroll" href="/">HOME</a>
                    </li>
                    <li>
                        <a  class="page-scroll" href="/events/">EVENTS</a>
                    </li>
                    <li>
                        <a  class="page-scroll" href="/contributions/">CONTRIBUTIONS</a>
                    </li>
                    <li>
                        <a  class="page-scroll" href="/blog/">BLOG</a>
                    </li>

                     
                     
                    <li>
                        <a class="page-scroll btn btn-xl" href="/login/" style="padding-top: 3px;padding-bottom: 3px;margin-top: 10px;">Login</a>
                    </li>
                    
                  
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
<div class="wrapper">

    

<div class="container">
	<br><br><br><br>
	<hgroup class="mb20">
		<h1>All Blogs</h1>
	</hgroup>
    <section class="col-xs-12 col-sm-6 col-md-12" style="padding-top: 10px;">
		
		<p>No Blogs yet !     Stay Tuned.</p>
	
	</section>
</div>


</div>
<div class="push"></div>
<div class="footer" style="margin-top:25%;">
    <footer>
        <div class="container" style="text-align: center;">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Alumni</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="#" class="so-btn"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#" class="so-btn"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#" class="so-btn"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                       Alumni Community
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</div>

<script src="../../static/webapp/js/scroll.js"></script>
    
</body>

</html>
