

<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Alumni Portal</title>

    <!-- Bootstrap Core CSS -->
     <!-- <link rel="stylesheet" href="{% static 'webapp/css/bootstrap.min.css' %}"> -->
    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'webapp/css/style.css' %}"> -->
    <!-- Latest compiled and minified CSS -->
     
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="../../static/webapp/css/style.css">

     <link rel="stylesheet" href="../../static/webapp/css/app.min.css">
        <!-- iCheck -->
     <link rel="stylesheet" href="../../static/webapp/css/blue.css">
    

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">
   
    <!-- Navigation -->
     
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top" style="background-color: #222;padding-bottom: 0px;padding-top: 5px;margin-bottom: 10px;">

        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top" style="font-weight: bold;">Alumni Portal</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a  class="page-scroll" href="/">HOME</a>
                    </li>
                    <li>
                        <a  class="page-scroll" href="/events/">EVENTS</a>
                    </li>
                    <li>
                        <a  class="page-scroll" href="/contributions/">CONTRIBUTIONS</a>
                    </li>
                    <li>
                        <a  class="page-scroll" href="/blog/">BLOG</a>
                    </li>

                     
                     
                    <li>
                        <a class="page-scroll btn btn-xl" href="/login/" style="padding-top: 3px;padding-bottom: 3px;margin-top: 10px;">Login</a>
                    </li>
                    
                  
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
<!-- <div class="wrapper"> -->

    


<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" style="border:0px solid black;background-color: radial-gradient(rgb(243,244,245));margin-top: 5%;">


        <div style="border:0px solid red;width: 85%;margin:0 auto;display: flex;">

            <div class="card card-1">

                <div style="margin-top: 25%;border: 0px solid red;height: 100px;">
                    <h3 style="text-align: center;">Delhi Chapter Meet</h3>
                </div>

            <div style="margin-top: 10%">
                <div style="border: 0px solid red;padding: 10px;">
                    <i class="fa fa-clock-o"></i> Dec 10, 2016
                </div>

                 <div style="border: 0px solid red;margin-top:2px;padding: 10px;">
                   <i class="fa fa-map-marker"></i> The LNMIIT
                </div>
            </div>
            </div>
            <div class="card card-1">

                 

                  <div style="margin-top: 25%;border: 0px solid red;height: 100px;">
                    <h3 style="text-align: center;">Alumni Meet</h3>
                </div>

                <div style="border: 0px solid red;margin-top: 10%;padding: 10px;">
                    <i class="fa fa-clock-o"></i> Dec 10, 2016
                </div>

                 <div style="border: 0px solid red;margin-top:2px;padding: 10px;">
                   <i class="fa fa-map-marker"></i> The LNMIIT
                </div>


            </div>
            <div class="card card-1">

               

                 <div style="margin-top: 25%;border: 0px solid red;height: 100px;">
                     <h3 style="text-align: center;">Talk by Prateel Goel</h3>
                </div>

                <div style="border: 0px solid red;margin-top: 10%;padding: 10px;">
                    <i class="fa fa-clock-o"></i> Dec 10, 2016
                </div>

                 <div style="border: 0px solid red;margin-top:2px;padding: 10px;">
                   <i class="fa fa-map-marker"></i> The LNMIIT
                </div>

            </div>
            <div class="card card-1">

                 

                  <div style="margin-top: 25%;border: 0px solid red;height: 100px;">
                     <h3 style="text-align: center;">Career in Merchant Navy - Shalabh Gupta</h3>
                </div>

                <div style="border: 0px solid red;margin-top: 10%;padding: 10px;">
                    <i class="fa fa-clock-o"></i> Dec 10, 2016
                </div>

                 <div style="border: 0px solid red;margin-top:2px;padding: 10px;">
                   <i class="fa fa-map-marker"></i> The LNMIIT
                </div>

            </div>

        </div>


             <div style="border:0px solid red;width: 85%;margin:0 auto;display: flex;">

            <div class="card card-1">

                <div style="margin-top: 25%;border: 0px solid red;height: 100px;">
                     <h3 style="text-align: center;">Informal session with Divyanshu Pandey</h3>
                </div>

                 

                <div style="border: 0px solid red;margin-top: 10%;padding: 10px;">
                    <i class="fa fa-clock-o"></i> Dec 10, 2016
                </div>

                 <div style="border: 0px solid red;margin-top:2px;padding: 10px;">
                   <i class="fa fa-map-marker"></i> The LNMIIT
                </div>

            </div>
            <div class="card card-1">

               

                <div style="margin-top: 25%;border: 0px solid red;height: 100px;">
                      <h3 style="text-align: center;margin-top: 10%;">A session with Kush Gupta and Siddhant Agarwal</h3>
                </div>

                <div style="border: 0px solid red;padding: 10px;">
                    <i class="fa fa-clock-o"></i> Dec 10, 2016
                </div>

                 <div style="border: 0px solid red;margin-top:2px;padding: 10px;">
                   <i class="fa fa-map-marker"></i> The LNMIIT
                </div>


            </div>
            <div class="card card-1">

                 

                  <div style="margin-top: 25%;border: 0px solid red;height: 100px;">
                      <h3 style="text-align: center;margin-top: 10%;">Talk on Robotics by Nived Chebrolu</h3>
                </div>

                <div style="border: 0px solid red;padding: 10px;">
                    <i class="fa fa-clock-o"></i> Dec 10, 2016
                </div>

                 <div style="border: 0px solid red;margin-top:2px;padding: 10px;">
                   <i class="fa fa-map-marker"></i> The LNMIIT
                </div>

            </div>
            <div class="card card-1">

                 

                 <div style="margin-top: 25%;border: 0px solid red;height: 100px;">
                      <h3 style="text-align: center;margin-top: 10%;">Talk by Sagar Tandon</h3>
                </div>

                <div style="border: 0px solid red;padding: 10px;">
                    <i class="fa fa-clock-o"></i> Dec 10, 2016
                </div>

                 <div style="border: 0px solid red;margin-top:2px;padding: 10px;">
                   <i class="fa fa-map-marker"></i> The LNMIIT
                </div>

            </div>

        </div>

    </div>
<!-- </div> -->


<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" style="border:0px solid black;background-color: radial-gradient(rgb(243,244,245));margin-top: 5%;margin-bottom: 5%;">

           <div class="card_enlarge card-1 ">

            <div class="col-lg-12" style="border: 0px solid black;margin-top: 10%;">
               
                <div class="col-lg-6" style="border:0px solid red">

                    <img src="https://alumni.lnmiit.ac.in/images/AjaySinghRathore.png" class = "img-responsive"  style="border-radius:100%;">

                </div>

                <div class="col-lg-6" style="border:0px solid red;margin-top: 5%;" >

                    <h3>Ajay Singh Rathore</h3>
                    <p>Batch - Y09</p>
                    <p>Assistant Marketing Manager at HT Media Ltd</p>

                </div>


            </div>

            <div class="col-lg-12" style="margin-top: 5%;">
                
                <p>
                    "LNMIITians as a part of big family have this shared identity of being treated with similar values in same milieu. Knowingly or unknowingly, we imbue these values in the world around us. At the same time undergoing through similar hardships and challenges. I'm glad to acknowledge that AA has done a great job in providing a platform to share our narratives which are proving to be helpful for coming batches and making alum realize growing strength of the institute."

                </p>

            </div>



        </div>

        <div class="card_enlarge card-1 ">

            <div class="col-lg-12" style="border: 0px solid black;margin-top: 10%;">
               
                <div class="col-lg-6" style="border:0px solid red">

                    <img src="https://alumni.lnmiit.ac.in/images/KushalShah.png" class =  "img-responsive" style="border-radius:100%;">

                </div>

                <div class="col-lg-6" style="border:0px solid red;margin-top: 5%;" >

                    <h3>Kushal Shah</h3>
                    <p>Batch - Y11</p>
                    <p>Researcher at QCRI</p>

                </div>


            </div>

            <div class="col-lg-12" style="margin-top: 5%;">
                
                <p>
                    "Alumni are the true ambassadors of any university, because whatever we do in our respective fields is going to affect not only to our families, but to families of innumerable unknown juniors. Initiatives like these give alumni the sense of being and the comprehension of giving back to the place that made them who they are. It is also a wonderful source of inspiration to students struggling to make a mark, to interact and learn from their seniors who once maybe were in a similar situation as they are now. My best wishes to faculties and the student communities for this commendable initiative."

                </p>

            </div>



        </div>

        <div class="card_enlarge card-1 ">

            <div class="col-lg-12" style="border: 0px solid black;margin-top: 10%;">
               
                <div class="col-lg-6" style="border:0px solid red">

                    <img src="https://alumni.lnmiit.ac.in/images/JatinSharma.png" class = "img-responsive" style="border-radius:100%;">

                </div>

                <div class="col-lg-6" style="border:0px solid red;margin-top: 5%;" >

                    <h3>Jatin Sharma</h3>
                    <p>Batch - Y07</p>
                    <p>Software Engineer at TASER International</p>

                </div>


            </div>

            <div class="col-lg-12" style="margin-top: 5%;">
                
                <p>
                    "Alumni are the face of a University. Every prestigious University in this world is well connected with the rest of the world, be it corporate or academia, through this strong network. The institution imparts its best to the young bright student and years after the same student pays back through his continuous engagement and support. LNMIIT has grown from a beautiful small campus to something much bigger. It has got a highly respected alumni network and an active alumni association. This is just the beginning…"

                </p>

            </div>



        </div>



</div>
<div class="footer col-lg-12 col-md-12 col-sm-12 col-xs-12" style="position: relative;margin:auto;padding:0px 8px;background-color: black;margin-top:5%;">


  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="margin-top:3%;">
      <div>
        <a href="https://www.almaconnect.com">
          <img src="http://career.excelsior.edu/wp-content/uploads/sites/3/2016/03/Shield-No-background.png" style="max-height:88px;">
        </a>
      </div>
    </div>

    <div class="col-lg-offset-1 col-lg-2 col-md-offset-1 col-md-2 col-sm-offset-1 col-sm-2 col-xs-offset-1 col-xs-2">
      <div style="padding:6px 0px;" class="menu_item">
        <a href="/features" class="text_body_light">Features</a>
      </div>
      <div style="padding:6px 0px;" class="menu_item">
        <a class="text_body_light" href="/clients">Clients</a>
      </div>
      <div style="padding:6px 0px;" class="menu_item">
        <a class="text_body_light" href="https://www.almaconnect.com/privacy_policy_20120807.pdf" target="_blank">Privacy Policy</a>
      </div>
      <div style="padding:6px 0px;" class="menu_item">
        <a class="text_body_light" href="https://www.almaconnect.com/terms_of_use" target="_blank">Terms of use</a>
      </div>
    </div>

    <div class="ol-lg-offset-1 col-lg-2 col-md-offset-1 col-md-2 col-sm-offset-1 col-sm-2  col-xs-2">
      <div style="padding:6px 0px;" class="menu_item">
        <a class="text_body_light" href="/aboutus" target="_blank">Our story</a>
      </div>
      <div style="padding:6px 0px;" class="menu_item">
        <a class="text_body_light" href="https://www.almaconnect.com/contact_us" target="_blank">Contact Us</a>
      </div>
      <div style="padding:6px 0px;" class="menu_item">
        <a class="text_body_light" href="/aboutus#joinus" target="_blank">Join us</a>
      </div>
    </div>

    <div class="col-lg-offset-1 col-lg-3 col-md-offset-1 col-md-3 col-xs-offset-1 col-xs-3" style="padding:6px 0px;">

     <!--  <a href="#">
        <i class="fa fa-4x fa-linkedin custom-css" aria-hidden="true"></i>
      </a> -->


<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" style="margin-top:7%;" >
               <!-- <div class="col-md-4"> -->
                    <ul class="list-inline social-buttons">
                        <li><a href="#" class="so-btn"><i class="fa fa-twitter" style="padding:7px;"></i></a>
                        </li>
                        <li><a href="#" class="so-btn"><i class="fa fa-facebook" style="padding:7px;"></i></a>
                        </li>
                        <li><a href="#" class="so-btn"><i class="fa fa-linkedin" style="padding:7px;"></i></a>
                        </li>
                    </ul>
                <!-- </div> -->
                  </div>
    </div>


    <div class="hide_below_560" style="position:absolute;right:20px;bottom:0px;max-width:156px;width:100%;margin-top:32px;">
      <img src="https://d1dp92jzo8lsgh.cloudfront.net/assets/website/footer-decor-2-713a51371d4c81d3ede14692baebd55c0c4a38abfde92731b1595f51dd8b817b.png" style="max-width:140px;">
    </div>

  </div>

<script src="../../static/webapp/js/scroll.js"></script>
    
</body>

</html>
