

<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Alumni Portal</title>

    <!-- Bootstrap Core CSS -->
     <!-- <link rel="stylesheet" href="{% static 'webapp/css/bootstrap.min.css' %}"> -->
    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'webapp/css/style.css' %}"> -->
    <!-- Latest compiled and minified CSS -->
     
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="../../static/webapp/css/style.css">

     <link rel="stylesheet" href="../../static/webapp/css/app.min.css">
        <!-- iCheck -->
     <link rel="stylesheet" href="../../static/webapp/css/blue.css">
    

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">
   
    <!-- Navigation -->
     
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top" style="background-color: #222;padding-bottom: 0px;padding-top: 5px;margin-bottom: 10px;">

        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top" style="font-weight: bold;">Alumni Portal</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a  class="page-scroll" href="/">HOME</a>
                    </li>
                    <li>
                        <a  class="page-scroll" href="/events/">EVENTS</a>
                    </li>
                    <li>
                        <a  class="page-scroll" href="/contributions/">CONTRIBUTIONS</a>
                    </li>
                    <li>
                        <a  class="page-scroll" href="/blog/">BLOG</a>
                    </li>

                     
                     
                    <li>
                        <a class="page-scroll btn btn-xl" href="/login/" style="padding-top: 3px;padding-bottom: 3px;margin-top: 10px;">Login</a>
                    </li>
                    
                  
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
<div class="wrapper">

    


<div class='row'>
    <div class="col-md-12">
    <br><br><br><br><br>
    <div  style="margin-left: auto;" >
       <img src="http://fosslnmiit.herokuapp.com/static/assets/images/coming_soon.jpg" class="img-responsive" alt="Responsive image">
    </div>
</div>
</div>
<div class="row">
    <div class="col-md-12">
    <br><br><br><br><br>
  <div style="margin-left: 10px;font-weight: bold;">
     <p>Please <a href="/login/">Login</a> for more info !</p>
  </div>
  </div>
</div>



</div>
<div class="push"></div>
<div class="footer">
    <footer>
        <div class="container" style="text-align: center;">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Alumni</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="#" class="so-btn"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#" class="so-btn"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#" class="so-btn"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                       Alumni Community
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</div>

<script src="../../static/webapp/js/scroll.js"></script>
    
</body>

</html>
