
{% include 'webapp/form_errors.html' %}


<h1>Password Reset</h1>


    <p>Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.</p>

    <form method="POST" action="/accounts/password/reset/" class="password_reset">
        {% csrf_token %}
        <p><label for="id_email">E-mail:</label> <input type="email" name="email" placeholder="E-mail address" required size="30" id="id_email" /></p>
        <input type="submit" value="Reset My Password" />
    </form>

    <p>Please contact us if you have any trouble resetting your password.</p>
