<h1>Change Password</h1>



            <form method="POST" action="{{ action_url }}">
                {% csrf_token %}
                <p><label for="id_password1">New Password:</label> <input type="password" name="password1" required id="id_password1" placeholder="New Password" /></p>
<p><label for="id_password2">New Password (again):</label> <input type="password" name="password2" required id="id_password2" placeholder="New Password (again)" /></p>
                <input type="submit" name="action" value="change password"/>
            </form>
