<!-- {% load staticfiles %} -->
<!DOCTYPE html>
<html>
<head>
  <!-- <link rel="stylesheet" href="{% static 'webapp/css/bootstrap.min.css' %}"> -->
    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'webapp/css/style.css' %}"> -->
    <!-- Latest compiled and minified CSS -->
     
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="../../static/webapp/css/style.css">

     <link rel="stylesheet" href="../../static/webapp/css/app.min.css">
        <!-- iCheck -->
     <link rel="stylesheet" href="../../static/webapp/css/blue.css">

    <!-- <link rel="stylesheet" type="text/css" href="../../static/webapp/css/bootstrap.min.css"> -->

</head>
<body style="background-image: url('http://fosslnmiit.herokuapp.com/static/img/bg.jpg');background-repeat:no-repeat;background-size:cover;">

<nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top affix-top">
       
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden active">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/">HOME</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/events/">EVENTS</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/contributions/">CONTRIBUTIONS</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/blog/">BLOG</a>
                    </li>

                     
                     
                    <li>
                        <a class="page-scroll btn btn-xl" href="/login/" style="padding-top: 3px;padding-bottom: 3px;margin-top: 10px;">Login</a>
                    </li>
                    
                  
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>



<!-- <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %} -->
 <!--  <p><label for="id_email">E-mail:</label> <input type="email" name="email" placeholder="E-mail address" id="id_email" required /></p>
<p><label for="id_username">Username:</label> <input type="text" name="username" maxlength="150" id="id_username" required autofocus="autofocus" placeholder="Username" minlength="1" /></p>

<p><label for="id_password1">Password:</label> <input type="password" name="password1" placeholder="Password" id="id_password1" required /></p>
<p><label for="id_password2">Password (again):</label> <input type="password" name="password2" placeholder="Password (again)" id="id_password2" required /></p> -->

<!--   {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %} -->
  <!-- <button type="submit">Sign Up &raquo;</button> -->
<!-- </form> -->


    <div class="login-box" style = "padding :0px; margin-bottom : 0px; margin-top : 10%;">
        <div class="login-logo" style="font-size : 60px;">
            <!-- <img src="rtiblack_small.png" style = "height:120px;margin-top : -20px;">
            <b>RTI</b>Feed -->
        </div>
            <!-- /.login-box-body -->
        <div class="login-box-body" id="sign_up">
            <p class="login-box-msg">Welcome to Alumni Portal SignUp</p>
            <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">

            <div class="form-group has-feedback">
         
                <input type="text" name="username" class = "form-control" maxlength="150" id="id_username" required autofocus="autofocus" placeholder="Username" minlength="1" />
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>

            <div class="form-group has-feedback">
               
                <input type="email" name="email" placeholder="E-mail address" id="id_email" class = "form-control" required />
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>

            <div class="form-group has-feedback">
                <input type="password" class="form-control"  name="password1" placeholder="Password" id="id_password1" required />
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>

            <div class="form-group has-feedback">
             
                <input type="password" name="password2" placeholder="Password (again)" id="id_password2" required  class="form-control" />
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>

             <div >
             <button type="submit" class="btn btn-warning" style="width:100%;border: none;" >SUBMIT <span class="glyphicon glyphicon-send"></span></button>
            </div>
             
    </form>
    <div class="social-auth-links text-center">
        <p>- OR -</p>
        <a href="#" class="btn btn-block btn-social btn-facebook btn-flat" style="border: none;">
            <i class="fa fa-facebook"></i> Sign up using Facebook
        </a>
        <a href="#" class="btn btn-block btn-social btn-twitter btn-flat" style="border: none;">
            <i class="fa fa-linkedin"></i> Sign up using LinkedIn
        </a>

        <a href="login.html" class="btn btn-block btn-social btn-divyanshu btn-flat" style="border: none;">
            <i class="fa fa-user-plus"></i> Sign in 
        </a>

    </div>
    <!-- /.social-auth-links -->
    <!-- <a href="#!" id = "forgot_password">I forgot my password</a><br> -->
    <!-- <a href="login.html" class="text-center">Sign In</a> -->
</div>
<!-- /.login-box-body -->
        
    
</div>



































































<!-- <div class="container" > -->

<!-- <form class="signup col-lg-12 form-horizontal" id="signup_form" method="post" action="{% url 'account_signup' %}" style="color:white;">
  {% csrf_token %}
<fieldset> -->

<!-- Form Name -->
<!-- <center><h3><b>Registration Form</b></h3></center><br> -->

<!-- Text input-->

<!-- <div class="form-group">
  <label class="col-md-4 control-label">First Name</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
  <input  name="first_name" placeholder="First Name" class="form-control"  type="text">
    </div>
  </div>
</div> -->

<!-- Text input-->

<!-- <div class="form-group">
  <label class="col-md-4 control-label" >Last Name</label>
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
  <input name="last_name" placeholder="Last Name" class="form-control"  type="text">
    </div>
  </div>
</div>
 -->

<!-- Text input-->


  <!-- {% include 'webapp/form_errors.html' %} -->
<!-- <div class="form-group">
  <label class="col-md-4 control-label" for="id_username">Username</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>

  <input class = "form-control" type="text" name="username" maxlength="150" id="id_username" required autofocus="autofocus" placeholder="Username" minlength="1" />

    </div>
  </div>
</div> -->

<!-- Text input-->

<!-- <div class="form-group">
  <label for="id_password1" class="col-md-4 control-label" >Password</label>
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
  <input type="password" class="form-control" name="password1" placeholder="Password" id="id_password1" required />
    </div>
  </div>
</div> -->

<!-- Text input-->

<!-- <div class="form-group">
  <label for="id_password2" class="col-md-4 control-label" >Confirm Password</label>
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
  <input type="password" class = "form-control" name="password2" placeholder="Password (again)" id="id_password2" required />
    </div>
  </div>
</div> -->

<!-- Text input-->
<!--  <div class="form-group">
  <label class="col-md-4 control-label" for="id_email">E-Mail</label>

    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">

        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
  		<input type="email" name="email" placeholder="E-Mail Address" class="form-control" id="id_email" type="text" required/>

    </div>
  </div>
</div> -->


  <!-- {% if redirect_field_value %} -->
  <!-- <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" /> -->
  <!-- {% endif %} -->

<!-- Text input-->


<!-- Select Basic -->

<!-- Success message -->
<!-- <div class="alert alert-success" role="alert" id="success_message">Success <i class="glyphicon glyphicon-thumbs-up"></i> Success!.</div> -->

<!-- Button -->
<!-- <div class="form-group">
<div class="col-lg-12">
  <label class="col-md-4 control-label"></label>
  <div class="col-md-4"><br>
   <button type="submit" class="btn btn-warning" >SUBMIT <span class="glyphicon glyphicon-send"></span></button>
  </div>
</div>
 -->

<!-- </div> -->
<!-- 
<div class="text-align">
  <p>I Already have an account? Then please <a href="{{ login_url }}">SignIn</a></p>
</div> -->


<!-- </form> -->
<!-- </div>  -->


 </body>

 </html>
