{% load staticfiles %}
{% load socialaccount %}
<!DOCTYPE html>
<html>
<head>
  <!-- <link rel="stylesheet" href="{% static 'webapp/css/bootstrap.min.css' %}"> -->
    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'webapp/css/style.css' %}"> -->
    <!-- Latest compiled and minified CSS -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="../../static/webapp/css/style.css">

     <link rel="stylesheet" href="../../static/webapp/css/app.min.css">
        <!-- iCheck -->
     <link rel="stylesheet" href="../../static/webapp/css/blue.css">

    <!-- <link rel="stylesheet" type="text/css" href="../../static/webapp/css/bootstrap.min.css"> -->

</head>


<!-- <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %} -->
 <!--  <p><label for="id_email">E-mail:</label> <input type="email" name="email" placeholder="E-mail address" id="id_email" required /></p>
<p><label for="id_username">Username:</label> <input type="text" name="username" maxlength="150" id="id_username" required autofocus="autofocus" placeholder="Username" minlength="1" /></p>

<p><label for="id_password1">Password:</label> <input type="password" name="password1" placeholder="Password" id="id_password1" required /></p>
<p><label for="id_password2">Password (again):</label> <input type="password" name="password2" placeholder="Password (again)" id="id_password2" required /></p> -->

<!--   {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %} -->
  <!-- <button type="submit">Sign Up &raquo;</button> -->
<!-- </form> -->



<body style="background-image: url('http://fosslnmiit.herokuapp.com/static/img/bg.jpg');background-repeat:no-repeat;background-size:cover;">

<nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top affix-top">

        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden active">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="../webapp/home_page.html">HOME</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#">EVENTS</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#">CONTRIBUTIONS</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#">BLOG</a>
                    </li>
                    <li>
                        <a class="page-scroll btn btn-xl" href="{% url 'account_login' %}" style="padding-top: 3px;padding-bottom: 3px;margin-top: 10px;">Login</a>
                    </li>


                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>



    <div class="login-box" style = "padding :0px; margin-bottom : 0px; margin-top : 10%;">
        <div class="login-logo" style="font-size : 60px;">
            <!-- <img src="rtiblack_small.png" style = "height:120px;margin-top : -20px;">
            <b>RTI</b>Feed -->
        </div>
            <!-- /.login-box-body -->
        <div class="login-box-body" id="sign_up">
            <p class="login-box-msg">Welcome to Alumni Portal SignUp</p>
            <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                {% csrf_token %}
                {% include 'webapp/form_errors.html' %}
            <div class="form-group has-feedback">

                <input type="text" name="username" class = "form-control" maxlength="150" id="id_username" required autofocus="autofocus" placeholder="Username" minlength="1" />
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>

            <div class="form-group has-feedback">

                <input type="email" name="email" placeholder="E-mail address" id="id_email" class = "form-control" required />
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>

            <div class="form-group has-feedback">
                <input type="password" class="form-control"  name="password1" placeholder="Password" id="id_password1" required />
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>

            <div class="form-group has-feedback">

                <input type="password" name="password2" placeholder="Password (again)" id="id_password2" required  class="form-control" />
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>

             <div >
             <button type="submit" class="btn btn-warning" style="width:100%;border: none;" >SUBMIT <span class="glyphicon glyphicon-send"></span></button>
            </div>

    </form>
    <div class="social-auth-links text-center white">
        <p>- OR -</p>
        <!--
        <a href="#" class="btn btn-block btn-social btn-facebook btn-flat" style="border: none;">
            <i class="fa fa-facebook"></i> Sign up using Facebook
        </a>
        -->
        <a href="{% provider_login_url "linkedin" %}" class="btn btn-block btn-social btn-twitter btn-flat" style="border: none;">
            <i class="fa fa-linkedin"></i> Sign up using LinkedIn
        </a>
        <!--
        <a href="login.html" class="btn btn-block btn-social btn-divyanshu btn-flat" style="border: none;">
            <i class="fa fa-user-plus"></i> Sign in
    -->
    </div>

</div>


</div>

 </body>

 </html>
